<p>server works!</p>

<p> String Interpolation</p>

<div>
    <p>The Server with  Server Id : {{serverId}} is {{serverName}}</p>
</div>

<h4>Property Binding</h4>

<div>
    <button class= "btn btn-primary"
    [disabled]="!createServer"
    (click)="allowNewServer()"
    >Add Server</button>

    <hr>
    <p> {{newServerName}}</p>
</div>

<hr>

<p>Event Binding</p>
<div>
    <label>Server Name</label>
    <hr>
    <input type="text" 
    class="form-control" 
    (input)="changeServerName($event)"
    >

    <hr>
    <p>Server Name: this is the new server name :  {{serverName}}</p>
</div>

<hr>
<p>Two Way Binding</p>
<div>
    <label>Server Name with Twoway Binding</label>
    <hr>
    <input type="text" 
    class="form-control" 
    [(ngModel)]="serverName"
    >

    <hr>
    <p>Server Name: this is the new server name :  {{serverName}}</p>
</div>